
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: 'ProximaNova';
}

/* @font-face {
  font-family: "ProximaNova";
  src: local(ProximaNova), url("./fonts/proximanova.woff2") format("truetype");
} */
